<aside class="sidenav" [ngClass]="sidebarCollapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <!-- @if (!sidebarCollapsed) {
    <div class="logo-text">Logo</div>
    } -->
    <button class="btn-toggle" (click)="toggleCollapse()">
      @if (!!sidebarCollapsed) {
      <fa-icon [icon]="faBars"></fa-icon>
      } @else {
      <fa-icon [icon]="faBarsStaggered"></fa-icon>
      }
    </button>
  </div>
  <div class="sidenav-nav">
    @for (item of items; track $index) {
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [ngClass]="sidebarCollapsed ? 'sidenav-nav-link-collapsed' : ''"
        [routerLink]="item.routeLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon [icon]="item.icon" class="sidenav-link-text"></fa-icon>
        @if (!sidebarCollapsed) {
        <span class="sidenav-link-text">{{ item.label }}</span>
        }
      </a>
    </li>
    }
  </div>
</aside>
