<div class="relative">
  <button (click)="toggleDropdown()" class="focus:outline-none">
    <p-avatar [image]="image" [size]="size" [shape]="shape"></p-avatar>
  </button>

  <div
    *ngIf="isOpen"
    class="absolute right-0 mt-2 w-56 bg-white rounded-lg shadow-lg border border-gray-200 p-2 z-50"
  >
    <div class="p-3 flex items-center gap-3 border-b">
      <img [src]="image" class="w-10 h-10 rounded-full" />
      <div>
        <p class="text-sm font-bold">Pedro Vitor</p>
        <p class="text-xs text-gray-500">pvshakeu&#64;gmail.com</p>
      </div>
    </div>
    <ul class="py-2">
      <li
        class="flex items-center gap-3 px-4 py-2 text-sm cursor-pointer hover:bg-gray-100 transition rounded-lg"
      >
        <fa-icon [icon]="faUser"></fa-icon> Meu Perfil
      </li>
      <li
        class="flex items-center gap-3 px-4 py-2 text-sm cursor-pointer text-red-500 hover:bg-error-main transition rounded-lg"
      >
        <fa-icon [icon]="faRightFromBracket"></fa-icon> Sair
      </li>
    </ul>
  </div>
</div>
